<!--The content below is only a placeholder and can be replaced.-->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="../assets/tenserflow.png">NeuralChart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
    <div class="navbar-nav text-center">
      <a class="nav-item nav-link" href="#" (click)="openConfig()">Open</a>
      <a class="nav-item nav-link" href="#" (click)="saveConfig()">Save</a>
      <a class="nav-item nav-link" href="#" (click)="generatePython()">Generate</a>
      <a class="nav-item nav-link" href="help">Help</a>
    </div>
  </div>
</nav>

<!-- ARM disclaimer -->
<div class="arm-disclaimer">
  Project built as part of the ARM <i>"We, not I"</i> hackathon, summer 2020
</div>

<!-- Main dashboard -->
<div class="main-container row">
  <!-- Tools -->
  <div class="col-2 tools">
    e
  </div>
  <!-- Drawing area -->
  <div class="col-8 dashboard">
    t
  </div>

  <!-- Tools -->
  <div class="col-2 settings">
    e
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
